<header class="home__header">
    <div class="home__header__img--logo">
        <img src="/images/logo.jpg" alt="">
    </div>
    <a class="home__header__a--bars" href=""><i class="fas fa-bars"></i></a>
    <nav class="home__header__nav--menu">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/quienes">QUIENES</a></li>
            <li><a href="/servicios">SERVICIOS</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li><a href="/users/register">Registrate</a></li>
            <li><a href="/users/login">Ingresa</a></li>
        </ul>
    </nav>
</header>